:root {
  --lavender-web: #d9e1f2ff;
  --light-gray: #d0ceceff;
  --adt-blue: #0060aaff;
  --honeydew: #cdf0b7;
  --lemon-meringue: #ffd65c;
  --text-dark: #717171;
  --text-bright: #9e2a2b;
}

.test {
  color: #cdf0b7;
}
.adt-blue {
  color: rgb(0, 96, 170);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 35%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  padding: 1rem;
  display: block;
  text-align: center;
}

.navbar-links li a:hover {
  font-size: 1.5rem;
  color: #ffc65c;
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: var(--adt-blue);
  border-radius: 10px;
}

.title {
  /* width: 1200px; */
  /* margin: 0 auto; */
  color: var(--text-bright);
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
  margin: 2rem;
}

main {
  min-width: 1200px;
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: center;
  gap: 2em;
  z-index: 1;
  position: relative;
}

.revenue-expense {
  background-color: rgb(245, 245, 245);
  padding: 0 2em;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 4em auto repeat(11, 2.25em);
  align-items: center;
  align-content: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.revenue-expense h2 {
  grid-column: span 4;
  text-align: center;
}

.name-address {
  grid-column: span 4;
  width: 80%;
  margin: 2em auto;
}
#job-name {
  grid-column: span 4;
  height: 2em;
  border-radius: 5px;
  margin-bottom: 1em;
}

#job-address {
  grid-column: span 4;
  height: 2em;
  border-radius: 5px;
}
.revenue-expense label {
  padding: 0.5em 1.5em 0 0.5em;
}
.revenue-expense h5 {
  background-color: var(--adt-blue);
  height: 100%;
  font-size: 17px;
  color: white;
  text-align: center;
  padding-top: 0.5em;
}

.revenue-expense h6 {
  padding-top: 0.5em;
  padding-left: 0.5em;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-color: var(--lavender-web);
}
.revenue-expense label {
  font-size: 14px;
  font-weight: 700;
}

.revenue-expense p {
  grid-column: span 4;
  text-align: center;
  color: var(--text-bright);
  font-style: italic;
}
.costs-title {
  text-align: center;
}

.margin-title {
  text-align: center;
}

.margin-results {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: darkgray;
  padding-top: 0.5em;
  color: white;
}

.billable-title {
  text-align: center;
}

.billable-results {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: var(--honeydew);
  padding-top: 0.5em;
  color: rgb(87, 92, 90);
  font-weight: 600;
}

input {
  text-align: center;
  border: none;
  height: 100%;
  width: 100%;
  background-color: var(--lemon-meringue);
  color: white;
  font-weight: 600;
}

input[type='submit'] {
  grid-column: 2/4;
  width: 60%;
  margin-top: 2em;
  background-color: var(--adt-blue);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input[type='submit']:hover {
  transform: scale(1.05);
}

input[type='submit']:active {
  transform: scale(1);
}

.total-title {
  background-color: var(--adt-blue) !important;
  color: white;
}

.total-costs {
  padding-top: 0.5em;
  text-align: center;
  font-weight: 700;
  background-color: var(--adt-blue);
  color: white;
  height: 100%;
  width: 100%;
}

.total-margin {
  background-color: var(--adt-blue);
  height: 100%;
  width: 100%;
}

.total-billable {
  padding-top: 0.5em;
  text-align: center;
  background-color: var(--adt-blue);
  color: white;
  font-weight: 700;
  height: 100%;
  width: 100%;
}

.costs-multipliers {
  width: 100%;
  background-color: rgb(245, 245, 245);
  padding: 2em 0;
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.multipliers {
  flex-basis: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.multipliers input {
  border-radius: 5px;
  height: 2em;
  background-color: var(--lemon-meringue);
  font-size: 18px;
}
.multipliers h4 {
  background-color: var(--adt-blue);
  color: white;
  padding: 0.5em 0;
  text-align: center;
  /* border-radius: 5px; */
}

.multipliers h5 {
  font-size: 18px;
  color: var(--text-bright);
}

.percent-total {
  width: 100%;
  height: 100%;
  background-color: var(--lavender-web);
  text-align: center;
  color: green;
  font-weight: 600;
  padding: 0.25em;
}
.calc-sov-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
input[type='submit'] {
  width: auto !important;
  padding: 1em;
}

/* ?Table Styling */
#sov-modal {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 250px;
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-1wig {
  width: 300px;
  font-weight: bold;
  text-align: left;
  vertical-align: center;
}

.sov-total-row {
  background-color: var(--adt-blue);
  color: #ffffff;
}
.tg .tg-ov5x {
  background-color: var(--adt-blue);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
}
.tg .tg-0lax {
  width: 150px;
  text-align: center;
  vertical-align: top;
  font-weight: 600;
}

.hide {
  display: none;
}

/* ! Start Mobile CSS Styling */
@media (max-width: 700px) {
  .logo {
    width: 60%;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    margin: auto;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.7rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .title {
    color: var(--text-bright);
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
    margin: 2rem;
  }
  .tables-container {
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--alice-blue);
    border-radius: 10px;
  }
  .table-title {
    font-size: 1.2rem;
    text-align: center;
    background-color: var(--french-blue);
    color: var(--white);
    padding: 0.7rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .table-row {
    width: 100%;
    height: 3rem;
    margin: 0.8rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .table-left {
    flex: 1 0 40%;
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .table-right {
    /* width: 40%; */
    flex: 2 0 auto;
    border-radius: 8px;
  }
  .input-tables {
    display: block;
  }
  input {
    font-size: 1rem;
  }
}
